h2, p {
    text-align: center;
}

label {
    width: 70px;
    height: 30px;
    text-align: right;
    padding-right: 5px;
}

.mb-3 {
    display: flex;
    justify-content: center;
}

.botonera {
    display: flex;
    justify-content: center;
}

.acciones__row {
    display: flex;
    justify-content: space-evenly;
}